[Unit]
Description=Set random host name at the system boot

[Service]
ExecStart=/usr/local/bin/sethostname
Type=oneshot

[Install]
WantedBy=multi-user.target
